<div id="blockbar" class="clear">
    <div class="fl_left"><a href="#">Click me</a></div>
    <div class="fl_right">Inteligula congue id elis donec sce sagittis intes id laoreet aenean. Massawisi condisse leo sem ac tincidunt nibh quis dui fauctor et donecnibh elis velit <a href="#">@name</a> - 10:15 AM yesterday</div>
</div>