<div  id="banner" class="wrapper banner clear">
    <div class="fl_left"><a href="{{ media_url('/forms/CBA_CHINESE.pdf') }}">哪些人可以参加？</a> - <a href="{{ media_url('/forms/CBA_TAIWANESE.pdf') }}">什麼是 CBA？</a></div>
</div>
