<div id="centercolumn" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">
    <h2>Cambridge Basketball Academy</h2>
    <ul>
        <li class="clear">
            <div class="latestnews">
                <p>
                    The Cambridge Basketball Academy offers high-end basketball instruction located in the
                    heart of the education and research capital of the world, Cambridge, Massachusetts.
                    Cambridge and Boston are known worldwide for the high concentration of top colleges and universities,
                    high-tech companies, and renowned hospitals.
                </p>
            </div>
        </li>
        <li class="clear">
            <div class="latestnews">
                <p>
                    By joining us at the Academy, you will be immersed in basketball and English in the heart of
                    this great area. You will have the opportunity to explore some of the local universities and make new
                    friends along the way. Coach Neil Holloway will teach you the skills and mentality needed to
                    compete for a roster spot on your local high school team next season.
                </p>
            </div>
        </li>
        <li class="last clear">
            <div class="latestnews">
                <p>
                    We offer two different types of camp, the School Break Camp which takes place over Holiday,
                    Winter, and Spring breaks and the Summer Camp which takes place in August.
                    The School Break Camps are designed to get students out of homestays and dorms and into a new city
                    for exploration, sights, and of course, plenty of basketball! The Summer Camp in August offers all of
                    these things, plus the opportunity to spend time with a local area college student from schools such
                    as Harvard or MIT. This one-on-one time is a great opportunity to learn the study habits and work
                    ethic of some of the area&#39;s most successful students!
                </p>
            </div>
        </li>
    </ul>
    <p class="readmore">Space is limited to <a href="contact.html">ENROLL</a> today!</p>
</div>