<div id="centercolumn" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">
    <h2>Cambridge Basketball Academy</h2>
    <ul>
        <li class="clear">
            <div class="imgl"><img src="images/demo/imgl.gif" alt="" /></div>
            <div class="latestnews">
                <p>The Cambridge Basketball Academy is a unique, high end, basketball instruction acadamy in the heart of Cambridge, Massachusetts. We take advantage of our prime location within the "educational  and research capital of the world" by providing top basketball instruction by day with our one-of-a-kind mentor program by night.</p>
            </div>
        </li>
        <li class="clear">
            <div class="imgl"><img src="images/demo/imgl.gif" alt="" /></div>
            <div class="latestnews">
                <p>A limited number of students are admitted each year to immerse themselves in Basketball before they begin their rigorous course work at their American High School of choice. By welcoming the students to join us in Cambridge, Massachusetts  we offer an intense, yet enjoyable, week of elite basketball instruction all while helping the student to become more comfortable listening and speaking in English.  Coach Holloway will use his expertise to teach the students how to play the game the right way and what High School coaches in the United States look for in potential team members.</p>
            </div>
        </li>
        <li class="clear">
            <div class="imgl"><img src="images/demo/imgl.gif" alt="" /></div>
            <div class="latestnews">
                <p>In addition, campers will meet with a personal student mentor from top Boston Universities such as Harvard and MIT. This one-to-one meeting will provide the student will invaluable insight into the work ethics and habits of their mentors.</p
            </div>
        </li>
        <li class="last clear">
            <div class="imgl"><img src="images/demo/imgl.gif" alt="" /></div>
            <div class="latestnews">
                <p>The Cambridge Basketball Academy will ensure that each student safely continues on to their school following the completion of the camp.</p
            </div>
        </li>
    </ul>
    <p class="readmore">Please <a href="contact.html">enroll</a> right away as space is limited.</p>
</div>