<div id="centercolumn" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">
    <h2>Cambridge Basketball Academy</h2>
    <ul>
        <li class="clear">
            <div class="latestnews">
                <p>The Cambridge Basketball Academy is a unique, high end, basketball instruction academy  in the heart of
                    Cambridge, Massachusetts. Our camp sessions are placed during popular school break periods such as
                    Holiday, Winter, Spring and Summer, which makes it easy for students to attend and gives them something
                    meaningful to do during their down time. We take advantage of our prime location within the educational
                    and research capital of the world by providing top basketball instruction while taking time to visit
                    the area’s top universities, shopping districts, and tons of great basketball related activities.</p>
            </div>
        </li>
        <li class="clear">
            <div class="latestnews">
                <p>A limited number of students are admitted each year to immerse themselves in basketball before they
                    begin their rigorous course work at their American high school of choice. By welcoming the students
                    to join us in Cambridge, Massachusetts we offer an intense, yet enjoyable, week of elite basketball
                    instruction all while helping the student to become more comfortable listening and speaking in English.
                    Coach Holloway will use his expertise to teach the students how to play the game the right way and
                    what high school coaches in the United States look for in potential team members.</p>
            </div>
        </li>
        <li class="last clear">
            <div class="latestnews">
                <p>During our Summer Session, campers will meet with a personal student mentor from top Boston Universities
                    such as Harvard and MIT. This one-to-one meeting will provide the student will invaluable insight into
                    the work ethics and habits of their mentors.</p
            </div>
        </li>
    </ul>
    <p class="readmore">Space is limited to <a href="contact.html">ENROLL</a> today!</p>
</div>