<footer id="footer" class="wrapper row4 clear">
    <!-- ####################################################################################################### -->
    <div class="fl_left clear">
        <div class="fl_left center"><img src="{{ media_url('/images/worldmap.gif') }}" alt="" /><br />
            <a href="#">Find Us With Google Maps &raquo;</a></div>
        <address>
            {{ resource.meta.address }}<br />
            {{ resource.meta.city }}, {{ resource.meta.state }}<br />
            {{ resource.meta.zip }}<br />
            <br />
            Tel: {{ resource.meta.phone }}br />
            Email: <a href="#">{{ resource.meta.email }}</a>
        </address>
    </div>
    <div class="fl_right">
        <div id="social" class="clear">
            some image here
        </div>
        <div id="newsletter">
            <form action="#" method="post">
                <fieldset>
                    <legend>Subscribe To Our Newsletter:</legend>
                    <input type="text" value="Enter Email Here&hellip;" onfocus="this.value=(this.value=='Enter Email Here&hellip;')? '' : this.value ;" />
                    <input type="text" id="subscribe" value="Submit" />
                </fieldset>
            </form>
        </div>
    </div>
</footer>