<div id="left_column" class="left_column">
    <div class="holder">
    <h2 class="title">Important dates</h2>
    <p>To ensure your reservation, please submit an application before the indicated deadline</p>
    <ul>
        <li><a href="/sessions/index.html">Holiday Break Camp</a></li>
        <li> Dec. 29 - Jan. 3rd</li>
        <li class="deadline">Deadline Dec. 6</li>
    </ul>
    <ul>
        <li><a href="/sessions/index.html">Winter Break Camp</a></li>
        <li>February 16th - 21st-</li>
        <li class="deadline">Deadline Jan 17</li>
    </ul>
    <ul>
        <li><a href="/sessions/index.html">Spring Break Camp</a></li>
        <li>April 20th - 25th</li>
        <li class="deadline">Deadline March 21</li>
    </ul>
    <ul>
        <li><a href="/sessions/index.html">Summer Session  1</a></li>
        <li>COMING SOON!</li>
        <li class="deadline">TBA</li>
    </ul>
</div>
</div>