<div id="left_column" class="left_column">
    <div class="holder">
    <h2 class="title">Upcoming Camps</h2>
    <p>To ensure your reservation, please submit an application before the indicated deadline</p>
    <ul>
        <li><a href="/apply.html">Session A</a></li>
        <li>June 29-July 10</li>
    </ul>
    <ul>
        <li><a href="/apply.html">Session B</a></li>
        <li>July 13-July 24</li>
    </ul>
    <ul>
        <li><a href="/apply.html">Session C</a></li>
        <li>August 3 – August 14</li>
    </ul>

    </div>
</div>
