<div id="left_column" class="left_column">
    <div class="holder">
    <h2 class="title">Important dates</h2>
    <p>To ensure your reservation, please submit an application before the indicated deadline</p>
    <ul>
        <li><a href="/apply.html">Spring Break Camp I</a></li>
        <li>March 16th - 21st-</li>
        <li class="deadline">Deadline Feb 21</li>
    </ul>
    <ul>
        <li><a href="/apply.html">Spring Break Camp II</a></li>
        <li>April 20th - 25th</li>
        <li class="deadline">Deadline March 21</li>
    </ul>
    <ul>
        <li><a href="/apply.html">Summer Session  1</a></li>
        <li>August 13th - 22nd</li>
        <li class="deadline">Deadline June 12</li>
    </ul>
</div>
</div>