<div class="clear">
    <h2>Links</h2>
    <ul>
        <li><a href="#">&raquo; Academic Advisory</a></li>
        <li><a href="#">&raquo; Academic Assistance</a></li>
        <li><a href="#">&raquo; Academic Calendars</a></li>
        <li><a href="#">&raquo; Academics Office</a></li>
        <li><a href="#">&raquo; Administration</a></li>
        <li><a href="#">&raquo; Adult Learners</a></li>
        <li><a href="#">&raquo; Alumni Chapters</a></li>
        <li><a href="#">&raquo; Alumni Events</a></li>
        <li><a href="#">&raquo; Athletics</a></li>
        <li><a href="#">&raquo; Campus Life At a Glance</a></li>
        <li><a href="#">&raquo; Campus Recreation</a></li>
        <li><a href="#">&raquo; Campus Safety &amp; Security</a></li>
    </ul>
</div>