<div id="academiclinks" class="clear">
    <h2>Quickly Find What You Are Looking For</h2>
    <div class="linkbox">
        <ul>
            <li><a href="admissions/index.html">&raquo; Admissions</a></li>
            <li><a href="apply.html">&raquo; Application</a></li>
            <li><a href="campus_life/boston.html">&raquo; Boston Area</a></li>
            <li><a href="campus_life/index.html">&raquo; Campus Life</a></li>
            <li><a href="why/c_halloway.html">&raquo; Coach Holloway</a></li>
        </ul>
    </div>
    <div class="linkbox">
        <ul>
            <li><a href="contact.html">&raquo; Contact Information</a></li>
            <li><a href="why/evening.html">&raquo; Evening Mentor Program</a></li>
            <li><a href="admissions/paperwork.html">&raquo; Important Paperwork</a></li>
            <li><a href="campus_life/meals">&raquo; Meals</a></li>
            <li><a href="campus_life/residence.html">&raquo; Residence</a></li>

        </ul>
    </div>
    <div class="linkbox last">
        <ul>
            <li><a href="campus_life/rules">&raquo; Rules</a></li>
            <li><a href="sessions/summer_session.html">&raquo; Summer Session</a></li>
            <li><a href="admissions/tuition.html">&raquo; Tuition</a></li>
            <li><a href="sessions/winter_session.html">&raquo; Winter Break Camp</a></li>
            <li><a href="why/index.html">&raquo; Why CBA</a></li>
        </ul>
    </div>
</div>