<navigation>
    <ul>
        {% for item in menu -%}
            {% set active = False -%}
            {% set active = (resource.url == site.content.resource_from_relative_path(item.url).url) -%}
            {% set classes = ['button'] -%}
            {% do classes.append('active') if active -%}
            {% do classes.append(item.css_class) if item.css_class -%}
            {% do classes.append('last') if formloop.last -%}
            <li>
                <a title="{{ item.description }}"
                   class="{{ classes|join(' ') }}"
                   href="{{ content_url(item.url) }}">
                    {{ item.name }}
                </a>
            </li>
        {%- endfor %}
    </ul>
</navigation>