<div id="right_column">
    <div class="holder">
        <h2>Virtual Tour</h2>
        <a href="#"><img src="images/demo/video.gif" alt="" /></a> </div>
    <div class="holder">
        <h2>Quick Information</h2>
        <div class="apply"><a href="#"><img src="images/demo/100x100.gif" alt="" /> <strong>Make An Application</strong></a></div>
        <div class="apply"><a href="#"><img src="images/demo/100x100.gif" alt="" /> <strong>Order A Prospectus</strong></a></div>
    </div>
</div>