<div id="right_column">
    <div class="holder">
        <h2>Quick Information</h2>
        <div class="apply"><a href="apply.html"><img src="media/images/apply.png" alt="" /> <strong>Apply Now!</strong></a></div>
        <div class="apply"><a href="sessions/custom_camps.html"><img src="media/images/custom_camp.png" alt="" /> <strong>Customized Camps!</strong></a></div>
    </div>
</div>
