<div class="wrapper row3">
    <div id="container" class="clear">
        <!-- ####################################################################################################### -->
        {%  block leftcolumn %}
            {% include "leftcolumn.j2" %}
        {%  endblock leftcolumn %}
        <!-- ############ -->
        <div id="content">
            <div class="holder">
                {% block maincontent %}
                {%  endblock maincontent %}
            </div>
        </div>
        <!-- ############ -->
        <div id="right_column">
            <div class="holder">
                {% include "linklist-column.j2" %}
            </div>
        </div>
    </div>
</div>