<div id="container"  class="wrapper row3">
    <!-- ####################################################################################################### -->
    <div id="homepage" class="clear">
        <!-- ######  left-->
        {% include "leftcolumn.j2" %}
        <!-- ###### center column -->
        {% include "centercolumn.j2" %}
        <!-- ###### right column -->
        {% include "rightcolumn.j2" %}
        <!-- ###### -->
    </div>


    {% include "blockbar.j2" %}
    {% include "linklist.j2" %}


</div>