<div class="wrapper">
    <div id="featured_slide" class="clear">
        <!-- ###### -->
        <div id="featured_content">
            <div class="featured_box" id="fc1"><img class="carousel" src="{{ media_url('/images/carousel1.jpg') }}" alt="" />
                <div class="floater">
                    <h2>All About The Academy</h2>
                    <p>Attincidunt vel nam a maurisus lacinia consectetus magnisl sed ac morbi. Inmaurisus habitur pretium eu et ac vest penatibus id lacus parturpis.</p>
                    <p class="readmore"><a href="wny/index.html">Continue Reading &raquo;</a></p>
                </div>
            </div>
            <div class="featured_box" id="fc2"><img class="carousel" src="{{ media_url('/images/carousel2.jpg') }}" alt="" />
                <div class="floater">
                    <h2>Experienced Staff</h2>
                    <p>Lead by Coach Holloway, students will receive hands on training that will help improve footwork, shooting, defense and offensive concepts</p>
                    <p class="readmore"><a href="why/c_halloway.html">Continue Reading &raquo;</a></p>
                </div>
            </div>
            <div class="featured_box" id="fc3"><img class="carousel"  src="{{ media_url('/images/carousel3.jpg') }}" alt="" />
                <div class="floater">
                    <h2>Summer Session Space Available</h2>
                    <p>Attincidunt vel nam a maurisus lacinia consectetus magnisl sed ac morbi. Inmaurisus habitur pretium eu et ac vest penatibus id lacus parturpis.</p>
                    <p class="readmore"><a href="sessions/summer_sessions.html">Continue Reading &raquo;</a></p>
                </div>
            </div>
            <div class="featured_box" id="fc4"><img class="carousel"  src="{{ media_url('/images/carousel5.jpg') }}" alt="" />
                <div class="floater">
                    <h2>Great location</h2>
                    <p>Attincidunt vel nam a maurisus lacinia consectetus magnisl sed ac morbi. Inmaurisus habitur pretium eu et ac vest penatibus id lacus parturpis.</p>
                    <p class="readmore"><a href="wny/index.html">Continue Reading &raquo;</a></p>
                </div>
            </div>
            <div class="featured_box" id="fc5"><img class="carousel"  src="{{ media_url('/images/carousel4.jpg') }}" alt="" />
                <div class="floater">
                    <h2>Fill Out an Application</h2>
                    <p>Attincidunt vel nam a maurisus lacinia consectetus magnisl sed ac morbi. Inmaurisus habitur pretium eu et ac vest penatibus id lacus parturpis.</p>
                    <p class="readmore"><a href="apply.html">Continue Reading &raquo;</a></p>
                </div>
            </div>
        </div>
        <ul id="featured_tabs">
            <li><a data-slide="0" id="fc1_tab" href="#fc1">All About The Academy</a></li>
            <li><a data-slide="1" id="fc2_tab" href="#fc2">Experienced Staff</a></li>
            <li><a data-slide="2" id="fc3_tab" href="#fc3">Summer Session Space Available</a></li>
            <li><a data-slide="3" id="fc4_tab" href="#fc4">Great Location</a></li>
            <li class="last"><a data-slide="4" id="fc5_tab" href="#fc5">Apply Today</a></li>
        </ul>
        <!-- ###### -->
    </div>
</div>