<div class="wrapper">
    <div id="featured_slide" class="clear">
        <!-- ###### -->
        <div id="featured_content">
            <div class="featured_box" id="fc1"><img class="carousel" src="{{ media_url('/images/carousel1.jpg') }}" alt="" />
                <div class="floater">
                    <h2>Basketball Instruction</h2>
                    <p>Learn fundamental basketball skills and apply them to respective teams, gaining a more competitive edge in the college application process.</p>
                    <br>
                    <p class="readmore"><a href="wny/index.html">Continue Reading &raquo;</a></p>
                </div>
            </div>
            <div class="featured_box" id="fc2"><img class="carousel"  src="{{ media_url('/images/carousel5.jpg') }}" alt="" />
                <div class="floater">
                    <h2>Great location</h2>
                    <p>Centrally located in the education and research capital of the world, CBA will immerse students in a multicultural, learning focused environment.</p>
                    <br>
                    <p class="readmore"><a href="campus_life/index.html">Continue Reading &raquo;</a></p>
                </div>
            </div>
            <div class="featured_box" id="fc3"><img class="carousel" src="{{ media_url('/images/carousel3.jpg') }}" alt="" />
                <div class="floater">
                    <h2>Experienced Staff</h2>
                    <p>Lead by Coach Holloway, students will receive hands on training that will help improve footwork, shooting, defense and offensive concepts</p>
                    <br>
                    <p class="readmore"><a href="why/c_halloway.html">Continue Reading &raquo;</a></p>
                </div>
            </div>
            <div class="featured_box" id="fc4"><img class="carousel"  src="{{ media_url('/images/carousel2.jpg') }}" alt="" />
                <div class="floater">
                    <h2>Multiple Sessions</h2>
                    <p>Sessions are conveniently available through the year during most common school break periods.</p>
                    <br>
                    <p class="readmore"><a href="sessions/index.html">Continue Reading &raquo;</a></p>
                </div>
            </div>
            <div class="featured_box" id="fc5"><img class="carousel"  src="{{ media_url('/images/carousel4.jpg') }}" alt="" />
                <div class="floater">
                    <h2>Apply Today</h2>
                    <p>Select your session, fill out a short application form and pay securely to register. Space is limited, so enroll today.</p>
                    <br>
                    <p class="readmore"><a href="apply.html">Continue Reading &raquo;</a></p>
                </div>
            </div>
        </div>
        <ul id="featured_tabs">
            <li><a data-slide="0" id="fc1_tab" href="#fc1">Basketball Instruction</a></li>
            <li><a data-slide="1" id="fc2_tab" href="#fc2">Great location</a></li>
            <li><a data-slide="2" id="fc3_tab" href="#fc3">Experienced Staff</a></li>
            <li><a data-slide="3" id="fc4_tab" href="#fc4">Multiple Sessions</a></li>
            <li class="last"><a data-slide="4" id="fc5_tab" href="#fc5">Apply Today</a></li>
        </ul>
        <!-- ###### -->
    </div>
</div>