#navigation {
  display:block;
  width:970px;
  margin:0;
  padding:0 0 12px 0;
  text-align:left;
  height:  20px;

  a{
    text-transform:uppercase;
    color:#06213F;
    background-color:#D9D9D9;
  }
  a:hover {
    color:#55ABDA;
    background-color:#D9D9D9;

  }
  li.active a {
    color:#55ABDA;
    background-color:#D9D9D9;
  }

  ul, li {
    padding:0;
    list-style:none;
    margin-left: 20px;
  }

  li{
    display:inline;
    margin-right:20px;
  }
  li.last{
    margin:0;
    a{
      border-right: none;
    }
  }

  ul.dropdown{
    float: left;
    list-style: none;
    padding: 0 20px;
    margin: 0;
    margin-top: 17px;
    li {
      font-weight: bold;
      float: left;
      zoom: 1;
      background: #FFFFF;
      display: inline-block;
      margin-top: -14px;
      border: none;
      position:relative;

      a {
        display: block;
        height: 29px;
        margin-top: -12px;
        padding-top: 15px;
        padding-left: 5px;
        padding-right: 5px;
        color: #222;
      }
      a:hover {
        background-color: #162252;
        color: #FFF;
      }
    }

    li.hoverli {
      margin-top: -17px;
    }

    ul  {
      width: 220px;
      display:none;
      position: absolute;
      top: 32px;
      left: 0;
      z-index: 1;
      margin-left: 0px;

      li {
        font-weight: normal;
        background: #f6f6f6;
        float: none;
        display:inline;
        clear: both;


        a {
          padding-bottom: 0px;
          padding-top: 15px;
          margin-top:-16px;
          padding-left: 15px;

        }
        a:hover{
          background-color:#162252;
          color: #FFF
        }
      }
    }
  }
}



