#container {


  #content {
    display:block;
    float:left;
    width:420px;
    margin-left:30px;
  }

  .holder {
      display:block;
      width:100%;
      margin-bottom:20px;
  }

  #left_column{
      display:block;
      float:left;
      width:200px;
  }

  #right_column{
      display:block;
      float:right;
      width:250px;
  }

}