#container {


  #content {
    display:block;
    float:left;
    width:600px;
    margin-left:30px;
  }

  .holder {
      display:block;
      width:100%;
      margin-bottom:20px;
  }

  #left_column{
      display:block;
      float:left;
      width:168px;
      color:#666666;
      background-color:#DEDACB;
      border: solid white 1px;
      padding:20px;
      font-size: 12px;
  }

  #right_column{
      display:block;
      float:right;
      width:250px;
  }

  .bold {
    color: #000000;
    font-size: 25px;
  }

  .errorMessage {
    color:red;
    fond-size:20px;
  }

}