---
extends: base.j2
---
{%  block maincontent %}
<h1 class="title">Campus Life</h1>
<p>
    Residence

    The RA (Resident Advisor) will check each room at 11 to determine if each camper is, in fact, in his room. Students who have not returned to their room by the curfew will be dealt with severely upon their return. The Cambridge Basketball Academy holds a zero tolerance policy against students who skip curfew. In addition to the curfew, the following rules must also be followed at all times;

    1. Each camp member is responsible for keeping the dorm room clean, in order, and free from damage. Campers will be responsible for any damage to the room. All campers will be assigned a roommate to share a room with.

    2. Valuables such as money, watches, and jewelry should be properly safeguarded.

    3. Athletic activities are prohibited in the residence halls. Running, playing, throwing, and similar activities are to be done outside the buildings.

    4. The following are not permitted on campus or in the residence halls: fireworks or explosives of any kind, firearms, pets, illegal drugs, alcoholic beverages, and any other items that could cause bodily harm or damage. Smoking is also prohibited in all buildings on campus. Any form of fire, incense, or candles is also prohibited.

    5. Each camp member is to be properly dressed.

    6. All camp members are expected to respect the rights and property of others. Loud noise and similar intrusive behavior are prohibited.

    7. Other basic rules of conduct will be presented during Monday morning orientation. Failure to observe these requests could result in early dismissal from the camp with no refund of tuition and fees.

    8. There will be counselors in each dormitory to assist you.

    10. Students must be in rooms by 10:30 each night. Resident Advisor will do a room check before lights out at 11.


</p>
{%  endblock maincontent %}

{%  block rightcolumn %}
<div class="holder">
    <h2 class="title">Summer Schedule: Importand dates</h2>
    <p>Nuncsed sed conseque a at quismodo tris mauristibus sed habiturpiscinia sed.</p>
    <ul>
        <li><a href="#">Lorem ipsum dolor sit</a></li>
        <li>Etiam vel sapien et</li>
        <li><a href="#">Etiam vel sapien et</a></li>
    </ul>
    <p>Nuncsed sed conseque a at quismodo tris mauristibus sed habiturpiscinia sed. Condimentumsantincidunt dui mattis magna intesque purus orci augue lor nibh.</p>
    <p class="readmore"><a href="#">Continue Reading &raquo;</a></p>
</div>
<div class="holder">
    <h2 class="title">Lorem ipsum dolor</h2>
    <div class="imgholder"><img src="images/demo/240x90.gif" alt="" /></div>
    <div class="imgholder"><img src="images/demo/240x90.gif" alt="" /></div>
    <div class="imgholder last"><img src="images/demo/240x90.gif" alt="" /></div>
</div>
{%  endblock rightcolumn %}
