---
extends: base.j2
---
{%  block maincontent %}
<h1 class="title">Physical and Immunization Form</h1>


Arrival / Departure

We will ask for your flight itinerary details as soon as your receive them, please let us know if you will need a pick up form the airport (fees apply) In addition, following the conclusion of the camp, we are happy to help you get to bus or train station that will take you to your school.


Insurance / I-20

All students must arrive at CBA fully insured (with copy of policy) and with the proper Documents
(I-20, I-94, and Passport)
You will not be permitted to participate in the Camp until all of these documents are verified by CBA staff.
This is in addition to the previously mentioned Physical and Immunization Form.
In addition, any student found without said documents could be subject to expulsion from the Camp without refund.

<p>A recent (within the last two years) Physical and Immunization Form is required prior to admittance to camp.
    A camper will not be allowed to attend or participate in camp unless the physician’s form has been received.
</p>

<p>A full-time certified athletic trainer is on site at all times at each camp during camp hours.</p>

<p>Below, you can fin da list of all forms you may be required to fill out prior to enrolling</p>
        <ul>
            <li><a href="#">Form 1</a></li>
            <li><a href="#">Form 2</a></li>
            <li><a href="#">Form 3</a></li>
        </ul>
<p>Please <a href="content">contact</a> us to determine specific forms you will be required to bring</p>

{%  endblock maincontent %}

{%  block rightcolumn %}
<div class="holder">
    <h2 class="title">Summer Schedule: Importand dates</h2>
    <p>Nuncsed sed conseque a at quismodo tris mauristibus sed habiturpiscinia sed.</p>
    <ul>
        <li><a href="#">Lorem ipsum dolor sit</a></li>
        <li>Etiam vel sapien et</li>
        <li><a href="#">Etiam vel sapien et</a></li>
    </ul>
    <p>Nuncsed sed conseque a at quismodo tris mauristibus sed habiturpiscinia sed. Condimentumsantincidunt dui mattis magna intesque purus orci augue lor nibh.</p>
    <p class="readmore"><a href="#">Continue Reading &raquo;</a></p>
</div>
<div class="holder">
    <h2 class="title">Lorem ipsum dolor</h2>
    <div class="imgholder"><img src="images/demo/240x90.gif" alt="" /></div>
    <div class="imgholder"><img src="images/demo/240x90.gif" alt="" /></div>
    <div class="imgholder last"><img src="images/demo/240x90.gif" alt="" /></div>
</div>
{%  endblock rightcolumn %}
