---
extends: base.j2
---
{%  block maincontent %}
<h1 class="title">Evening Mentor Program</h1>
<p>

    The location of the Cambridge Basketball Academy is the key reason why we can offer our one-of-a-kind Evening Mentor program.
    Your child will have the extremely unique opportunity to spend time getting to know  a current student from a top
    Boston area university such as Harvard or MIT. The informal dinner meetings will give them the chance to find
    out the secrets, habits, and attitude that can help one be admitted to a top US University after High School.
    They have done it, and they will tell your child how!
    This feature can not be found in any other basketball camp in the world.
</p>
{%  endblock maincontent %}

{%  block rightcolumn %}
<div class="holder">
    <h2 class="title">Summer Schedule: Importand dates</h2>
    <p>Nuncsed sed conseque a at quismodo tris mauristibus sed habiturpiscinia sed.</p>
    <ul>
        <li><a href="#">Lorem ipsum dolor sit</a></li>
        <li>Etiam vel sapien et</li>
        <li><a href="#">Etiam vel sapien et</a></li>
    </ul>
    <p>Nuncsed sed conseque a at quismodo tris mauristibus sed habiturpiscinia sed. Condimentumsantincidunt dui mattis magna intesque purus orci augue lor nibh.</p>
    <p class="readmore"><a href="#">Continue Reading &raquo;</a></p>
</div>
<div class="holder">
    <h2 class="title">Lorem ipsum dolor</h2>
    <div class="imgholder"><img src="images/demo/240x90.gif" alt="" /></div>
    <div class="imgholder"><img src="images/demo/240x90.gif" alt="" /></div>
    <div class="imgholder last"><img src="images/demo/240x90.gif" alt="" /></div>
</div>
{%  endblock rightcolumn %}
