---
extends: base.j2
---

{%  block maincontent %}
<h1 class="title">Typical Day</h1>
<table summary="Summary Here" cellpadding="0" cellspacing="0">
    <thead>
    <tr>
        <th>Time</th>
        <th>Activity</th>
        <th> </th>
        <th> </th>
    </tr>
    </thead>
    <tbody>
    <tr class="dark">
        <td>9:30</td>
        <td>Pick Up for Camp</td>
    </tr>
    <tr class="light">
        <td>9:45</td>
        <td>Stretch, Warm Up</td>
    </tr>
    <tr class="dark">
        <td>10:00</td>
        <td>Daily Meeting</td>
    </tr>
    <tr class="light">
        <td>10:15</td>
        <td>Skill Instruction / Development Drills</td>
    </tr>
    <tr class="dark">
        <td>11:30</td>
        <td>Break</td>
    </tr>
    <tr class="light">
        <td>11:45</td>
        <td>Hoops Challenge</td>
    </tr>
    <tr class="dark">
        <td>12:15</td>
        <td>Lunch</td>
    </tr>
    <tr class="light">
        <td>12:45</td>
        <td>Team Practices</td>
    </tr>
    <tr class="dark">
        <td>1:15</td>
        <td>Game Time</td>
    </tr>
    <tr class="dark">
        <td>2:45</td>
        <td>End of Day Meeting</td>
    </tr>
    </tbody>
</table>


{%  endblock maincontent %}

{%  block rightcolumn %}
<div class="holder">
    <h2 class="title">Summer Schedule: Importand dates</h2>
    <p>Nuncsed sed conseque a at quismodo tris mauristibus sed habiturpiscinia sed.</p>
    <ul>
        <li><a href="#">Lorem ipsum dolor sit</a></li>
        <li>Etiam vel sapien et</li>
        <li><a href="#">Etiam vel sapien et</a></li>
    </ul>
    <p>Nuncsed sed conseque a at quismodo tris mauristibus sed habiturpiscinia sed. Condimentumsantincidunt dui mattis magna intesque purus orci augue lor nibh.</p>
    <p class="readmore"><a href="#">Continue Reading &raquo;</a></p>
</div>
<div class="holder">
    <h2 class="title">Lorem ipsum dolor</h2>
    <div class="imgholder"><img src="images/demo/240x90.gif" alt="" /></div>
    <div class="imgholder"><img src="images/demo/240x90.gif" alt="" /></div>
    <div class="imgholder last"><img src="images/demo/240x90.gif" alt="" /></div>
</div>
{%  endblock rightcolumn %}
